
<header class="header">
  <!-- Logo -->
  <div class="logo">
    <a routerLink="home">
      <img src="assets/logoPiano.png" alt="Logo" class="logo-image">
    </a>
  </div> 


<div class="overlay">

      <nav class="container flex justify-between px-10 py-6 mx-auto nav-container">
        <div class="hidden space-x-8 lg:flex chalk-like-header">
          <ng-container>
            <a routerLink="list" >Liste</a>
            <a routerLink="calendar">Calendrier</a>
            <a routerLink="validation">Validation</a>
            <a routerLink="compta">Compta</a>
            <a routerLink="stats">Statistiques</a>
            <a routerLink="rep/:id">Répertoires</a>

          </ng-container>

        </div>

      </nav>


  </div>

</header>