
  
  .header {
    position: fixed;
    //height: 300px; /* Increase the header height to your desired value */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;/* Optional: Set a high z-index value to ensure the header is on top of other elements */
    background-color: #f5f5f5;
    padding: 10px;
    display: flex;
    align-items: center;
    //justify-content: space-between; tabs on the right
    //box-shadow: 0 4px 4px rgba(36, 167, 4, 0.1);
  
  
  
  
    nav {
      a {
        color: #666;
        text-decoration: none;
        margin-left: 20px;
        transition: color 0.3s;
        margin-left: 40px;
        font-family: "Spring Holiday", Sans-serif;
  
        
        &:hover {
          color: #000;
          //background-color: #d44545;
          border-radius: 5px;
          transform: scale(1.2);
          font-family: "Spring Holiday", Sans-serif;
  
          /* Increase the size of the buttons on hover */
        }
  
        &.active {
          font-weight: bold;
          color: #000;
        }
  
  
      }
    }
  }
  
  
  
  nav a {
    font-family: "Spring Holiday", Sans-serif;
    font-size: 20px;
    color: #fff;
    //text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  

  
  .logo-image {
    margin-left: 50px;
    margin-right: 50px;

    height: 100px;
    &:hover{
      transform: scale(1.1);
    }
  }
  

  
  
  
  /* Styles for the chalk-like header links */
  .chalk-like-header a {
    position: relative;
    color: #666;
    text-decoration: none;
    margin-left: 10px;
    transition: color 0.3s;
  
    &:hover {
        color: #000;
    }
  }
  
  .chalk-like-header a::before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, rgba(212, 69, 69, 0.9), rgba(212, 69, 69, 0.5) 40%, rgba(212, 69, 69, 0) 80%);
    box-shadow: 0 0 2px rgba(102, 102, 102, 0.7), 0 2px 2px rgba(255, 255, 255, 0.5);
    transform-origin: center;
    transform: scaleX(0); /* Initially, set the scale to 0 to hide the underline */
    transition: transform 0.3s ease;
  }
  
  .chalk-like-header a:hover::before {
    transform: scaleX(1); /* On hover, show the underline with the full width */
  }
  
  /* Optional: Add hover effects to your header buttons */
  nav a:hover {
    //background-color: #d44545;
    border-radius: 5px;
    transform: scale(1.2);
  }
  
  /* Additional styles for the header buttons */
  .header-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    background-color: rgb(82, 186, 27);
    margin-left: 10px;
    margin-bottom: 10px; /* Add 10 pixels of space below the element when hovering */
    width: 130px;
  }
  
  .header-link:hover {
    background-color: #d44545; /* Chalk-like color on hover */
    color: #fff;
  }
  
  
  .mountains-shadow {
    position: absolute;
    bottom: 0;
    left: 50%; /* Adjust this value to horizontally center the image over the header */
    transform: translate(-50%, 10%); /* Center the image both horizontally and vertically */
    z-index: 2; /* Place the image above the header content (z-index 1 by default) */
    /* Make the image container transparent to pointer events */
    pointer-events: none;
    /* Set the background image and enable horizontal repeating */
    // background-image: url('/src/assets/mountains_shadow.png');
    //background-repeat: repeat-x;
    /* Specify the width and height of the container to control the repeating size */
    width: 200%;
    height: 100px; /* Adjust the height as needed */
  }
  
  
  
  .connexion{
    margin-left: auto;
  }
  
  