<div class="page-container" #pageContainer>
        <div class="min-h-screen">
        <div class="title">
            Comptabilité
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

        
        <div class="btn-container">
            <button class="btn btn-primary btn-block text-white py-2 px-4 rounded-md btn-validate"
                (click)="generatePdf()">
                Générer le PDF
            </button>
        </div>

        <div class="recap-mois">
            <div class="table-container">
                Récapitulatif du mois
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Élève</th>
                            <th>Prénom</th>
                            <th>Paiement</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let user of userList">
                            <tr *ngFor="let lesson of user.lessons">
                                <ng-container *ngIf="lesson.isPayed">

                                <td>{{ lesson.date.toString().split('T')[0] }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.price}} €</td>
                            </ng-container>

                            </tr>
                        </ng-container>
                        <tr>
                            <th>TOTAL</th>
                            <th></th>
                            <th></th>
                            <th>{{this.total}} €</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
