.page-container{
  margin-top: 200px;
}

.table .td{
  border: 1px;
  text-align: center;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

th {
  width: 300px;
}

/* Add CSS styles for buttons */
.btn {
width: 100px;
height: 40px;
cursor: pointer;
}

.btn-paid {
background-color: #27ae60; /* Green color for paid lessons */
color: white;
}

.button {
background-color: #e74c3c; /* Red color for unpaid lessons */
color: white;
}

.btn[disabled] {
cursor: not-allowed;
opacity: 0.7;
}


.btnPayement{
background-color: #27ae60; /* Green color for paid lessons */
color: white;
}

.btnPayement:hover {
transform: scale(1.1);
background-color: #3d6348; /* Green color for paid lessons */

}

.btnPayed, .green-button{
background-color: #27ae60; /* Green color for paid lessons */
color: white;
text-decoration: none;
padding: 10px;
border-radius: 5px;
transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
margin-bottom: 10px; /* Add 10 pixels of space below the element when hovering */
display: inline-block; // centered
cursor: pointer;
}

/* Style for the visible slider */
.visibleSlider {
  display: block;
}

/* Style for the hidden slider */
.hiddenSlider {
  display: none;
}

.btnNotPayed, .red-button{
background-color: #ae2734; /* Green color for paid lessons */
width: 100px;
color: white;
text-decoration: none;
padding: 10px;
border-radius: 5px;
transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
margin-bottom: 10px; /* Add 10 pixels of space below the element when hovering */
display: inline-block; // centered
}


.btnPaymentOn:checked + label {
  background-color: green;
  color: white;
  /* Add any other styles you want to apply when "Payé" is selected */
}

.card-container {
  display: flex;
  justify-content: center;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
}

.card-container.card {
  padding: 40px 40px;
}

.card {
  // width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(228, 227, 227);
  margin: 0 auto 25px;
  margin-top: 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 20px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px 20px rgba(79, 76, 76, 0.6);
}

.title {
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
}

.card .h2{
  text-align: center;
}
