<div class="min-h-screen col-md-12">
  <div class="page-container">

    <div class="title">
      <ng-container *ngIf="lastMondayInfo.year == nextFridayInfo.year && lastMondayInfo.month == nextFridayInfo.month">
        Semaine {{currentWeek}} - du {{lastMondayInfo.day}} au {{nextFridayInfo.day}} {{nextFridayInfo.month}}
        {{nextFridayInfo.year}}
      </ng-container>
      <ng-container *ngIf="lastMondayInfo.year != nextFridayInfo.year && lastMondayInfo.month == nextFridayInfo.month">
        Semaine {{currentWeek}} - du {{lastMondayInfo.day}} {{lastMondayInfo.month}} au {{nextFridayInfo.day}}
        {{nextFridayInfo.month}} {{nextFridayInfo.year}}
      </ng-container>
      <ng-container *ngIf="lastMondayInfo.year != nextFridayInfo.year && lastMondayInfo.month != nextFridayInfo.month">
        Semaine {{currentWeek}} - du {{lastMondayInfo.day}} {{lastMondayInfo.month}} {{lastMondayInfo.year}} au
        {{nextFridayInfo.day}}
        {{nextFridayInfo.month}} {{nextFridayInfo.year}}
      </ng-container>

    </div>

  </div>

  <div class="card-container">
    <div class="card">
      <div class="planning">
        <table>
          <thead>
            <tr>
              <th>Créneau</th>
              <th *ngFor="let day of daysOfWeek">{{ day }}</th>
            </tr>
          </thead>
          <tbody>
            <!-- <ng-container *ngFor="let timeSlot of timeSlots">
              <tr>
                <td>{{ timeSlot }}</td>
                <td *ngFor="let day of daysOfWeek">
                  <button class="btnPaymentOn" *ngIf="getUserForTimeSlot(day, timeSlot)" [ngClass]="{
                    'btnPayed': this.lessonPayedStatus[day][timeSlot],
                    'btnNotPayed': !this.lessonPayedStatus[day][timeSlot],
                  }" (click)="togglePaymentStatus(day, timeSlot)">
                    {{ getUserForTimeSlot(day, timeSlot) }}
                  </button> 
                  <button>
                    {{ getUserForTimeSlot(day, timeSlot) }}
                  </button>
                  
                  <button class="btnPayment" *ngIf="getUserForTimeSlot(day, timeSlot)"
                  [ngClass]="{ 'green-button': this.lessonPayedStatus[day][timeSlot], 'red-button': !this.lessonPayedStatus[day][timeSlot] }"
                  (click)="togglePaymentStatus(day, timeSlot)">{{ getUserForTimeSlot(day, timeSlot) }}</button>
    
                  <br>
                  <ng-container *ngIf="getUserForTimeSlot(day, timeSlot) && daysOfWeek.indexOf(day) + 1 >= getCurrentDayOfWeek()">
                    <input type="radio" (change)="setLessonPayedStatus(day, timeSlot)" name="{{ day }}_{{ timeSlot }}"
                      [(ngModel)]="lessonPayedStatus[day][timeSlot]" value="true"> 
                      <label for="{{ day }}_{{ timeSlot }}_paye">Payé</label>
                    <input type="radio" (change)="setLessonPayedStatus(day, timeSlot)" name="{{ day }}_{{ timeSlot }}"
                      [(ngModel)]="lessonPayedStatus[day][timeSlot]" value="false"> 
                      <label for="{{ day }}_{{ timeSlot }}_non-paye">Non Payé</label>
                  </ng-container>
                </td>
              </tr>
            </ng-container> -->


            <ng-container *ngFor="let timeSlot of timeSlots">
              <tr>
                <td>{{ timeSlot }}</td>
                <td *ngFor="let day of daysOfWeek">
                  <button class="btnPaymentOn" *ngIf="getUserForTimeSlot(day, timeSlot)" [ngClass]="{
                    'btnPayed': this.lessonPayedStatus[day][timeSlot],
                    'btnNotPayed': !this.lessonPayedStatus[day][timeSlot],
                  }" (click)="togglePaymentStatus(day, timeSlot)">
                    {{ getUserForTimeSlot(day, timeSlot) }}                 
                  </button>
                  
                  <!-- <button class="btnPayment" *ngIf="getUserForTimeSlot(day, timeSlot)"
                  [ngClass]="{ 'green-button': this.lessonPayedStatus[day][timeSlot], 'red-button': !this.lessonPayedStatus[day][timeSlot] }"
                  (click)="togglePaymentStatus(day, timeSlot)">{{ getUserForTimeSlot(day, timeSlot) }}</button> -->
    
                  <br>
                  <ng-container *ngIf="getUserForTimeSlot(day, timeSlot) && daysOfWeek.indexOf(day) + 1 >= getCurrentDayOfWeek()">
                    <input type="checkbox" (change)="setLessonPayedStatus(day, timeSlot)" name="{{ day }}_{{ timeSlot }}"
                      [(ngModel)]="lessonPayedStatus[day][timeSlot]" value="true">
                    <label for="{{ day }}_{{ timeSlot }}_paye">Payé</label>
                  </ng-container>
                  
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>