.page-container{
    margin-top: 200px;
}

.card-container {
    display: flex;
    justify-content: center;
    margin: 30px;
  }
  
  .card-container.card {
    padding: 40px 40px;
  }
  
  .card {
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 227, 227);
    margin: 0 auto 25px;
    margin-top: 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 20px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 20px 20px rgba(79, 76, 76, 0.6);
  }
  
  .btn-validate {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    background-color: #d44545;
    //margin-block: 60px;
    margin-bottom: 10px; /* Add 10 pixels of space below the element when hovering */
    display: inline-block; // centered
  }
  
  .btn-validate:hover {
    background-color: rgb(82, 186, 27); /* Chalk-like color on hover */
    color: #fff;
  }
  
  
  .btn-validate-form {
  /* Add flexbox to center its children horizontally */
  padding-top: 50px;
  bottom: 0px;
  display: flex;
  justify-content: right;
  }
  
  .btn{
    flex-direction: center;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 2fr 0fr;
    gap: 10px; /* Add some space between the label and input field */
  }

  .title{
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-size: 30px;
    height: 40px;
    text-align: center;
    margin-bottom: 40px;
  }

  .label-container{
    font-size: 20px;
  }

  /* Add this to your CSS or styles.scss file */
