<div class="page-container">

    <div class="min-h-screen card card-container">

        <header class="title mt-1">
            <h3 class="text-8xl mt-1 mb-1">
                Nouveau morceau
            </h3>
        </header>

        <div class="mt-2 text-center grid-container">


            <div class="label-container">
                <label>Titre </label>
            </div>
            <div class="label-container">
                <input class="pl-1" type="text" [(ngModel)]="rep.title" />
            </div>
            <div class="label-container">
                <label>Date de début d'étude </label>
            </div>
            <div class="label-container">
                <input class="pl-1" type="text" [(ngModel)]="rep.beginDate" />
            </div>
            <div class="label-container">
                <label>Compositeur</label>
            </div>
            <div class="label-container">
                <input class="pl-1" type="email" [(ngModel)]="rep.compositor" />
            </div>

        </div>


        <div class="btn-validate-form">
            <button class="btn btn-primary btn-block text-white py-2 px-4 rounded-md btn-validate"
                (click)="modifyRep(rep.id)">
                Modifier
            </button>
        </div>
        <div *ngIf="isModifiedRep">
            Mise à jour effectuée
        </div>

    </div>

</div>