<div class="page-container">

    <div class="min-h-screen card card-container">

        <header class="title mt-1">
            <h3 class="text-8xl mt-1 mb-1">
                Nouvel élève
            </h3>
        </header>

        <div class="mt-2 text-center grid-container">
            <div class="label-container">
                <label>Nom </label>
            </div>
            <div class="label-container">
                <input class="pl-1" type="text" [(ngModel)]="user.name" />
            </div>
            <div class="label-container">
                <label>Prénom </label>
            </div>
            <div class="label-container">
                <input class="pl-1" type="text" [(ngModel)]="user.firstname" />
            </div>
            <div class="label-container">
                <label>Téléphone</label>
            </div>
            <div class="label-container">
                <input class="pl-1" type="email" [(ngModel)]="user.phone" />
            </div>

            <div class="label-container">
                <label>Prix</label>
            </div>
            <div class="label-container">
                <div class="input-container">
                    <input class="pl-1" type="email" [(ngModel)]="user.price" />
                  </div>
                
            </div>

            <div class="label-container">
                <label>Durée du cours</label>
            </div>
            <div>
                <form>
                    <select class="day-select" id="day" name="day" [(ngModel)]="user.lessonDuration" (ngModelChange)="selectDuration($event)">
                        <option *ngFor="let d of this.duration">{{ d }}</option>
                    </select>
                </form>
            </div>

            <div class="label-container">
                <label>Jour du cours</label>
            </div>
            <div>
                <form>
                    <select class="day-select" id="day" name="day" [(ngModel)]="user.lessonDay" (ngModelChange)="selectDay($event)">
                        <option *ngFor="let day of this.days">{{ day }}</option>
                    </select>
                </form>
            </div>

            <div class="label-container">
                <label>Créneau horaire</label>
            </div>
            <div>
                <form>
                    <select class="day-select" id="day" name="day" [(ngModel)]="user.slot" (ngModelChange)="selectSlot($event)">
                        <option *ngFor="let slot of this.slots">{{ slot }}</option>
                    </select>
                </form>
            </div>
        </div>

        <div class="btn-validate-form">
            <button class="btn btn-primary btn-block text-white py-2 px-4 rounded-md btn-validate"
                (click)="addUser(user)">
                Ajouter
            </button>
        </div>
        <div *ngIf="isUserAdded">
            Élève ajouté
        </div>

    </div>

</div>