.page-container{
    margin-top: 200px;
}

.title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
  }


.card-container {
    display: flex;
    justify-content: center;
    margin: 30px;
  }
  
  .card-container.card {
    padding: 40px 40px;
  }
  
  .card {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: rgb(228, 227, 227);
    margin: 0 auto 25px;
    margin-top: 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 20px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 20px 20px rgba(79, 76, 76, 0.6);
  }
  
  .card h2{
    text-align: center;
  }

  .page-container {
    margin-top: 200px;
  }
  
  /* Styles for the table container */
  
  .table-container {
    overflow-y: auto;
    /* Enable vertical scrolling within the container */
    position: relative;
    /* Add position relative to enable positioning of the sticky header */
    max-height: 80vh;
    /* Set a maximum height for the table container to enable scrolling */
    max-width: 90%;
    /* Set the desired fixed width */
    margin: 0 auto;
    /* Center the table horizontally */
    margin-bottom: 100px;
  }
  
  /* Styles for the table */
  table {
    width: 100%;
    position: center;
    border-collapse: separate;
    border-spacing: 0;
    border-style: solid;
    border: 2px solid transparent;
    /* Set initial border as transparent */
    background-color: #fff;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
    /* Set the table layout to fixed */
    border-radius: 10px;
    overflow: hidden;
  }
  
  
  
  th {
    cursor: pointer;
    background-color: #d44545;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #ccc;
    position: sticky;
    top: 0;
    /* Stick the header to the top of the container */
    z-index: 1;
    /* Ensure the header is above the table cells */
  }
  
  tbody {
    border: 2px solid #d44545;
    ;
    /* Set initial border as transparent */
  }
  
  tbody tr:hover {
    background-color: rgb(82, 186, 27);
    cursor: pointer;
  }
  
  
  tbody td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  
  .td-nom {
    text-align: left !important;
    padding-left: 30px !important;
    font-weight: bold;
    font-size: large;
  }
  
  tbody tr:last-child td {
    border-bottom: none;
  }
  
  /* Styling for sorting indicator */
  .sort-asc::after {
    content: '\25b2';
    /* Up arrow */
    margin-left: 5px;
  }
  
  .sort-desc::after {
    content: '\25bc';
    /* Down arrow */
    margin-left: 5px;
  }
  
  
  
  /* Curved header */
  thead {
    background-color: #f2f2f2;
    border-radius: 10px 10px 0 0;
    position: sticky;
    top: 0;
  }
  
  thead th:first-child {
    border-radius: 10px 0 0 0;
  }
  
  thead th:last-child {
    border-radius: 0 10px 0 0;
  }
  
  .btn-container {
    text-align: right;
    max-width: 95%;
  }
  
  .btn-validate {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    background-color: #d44545;
    //margin-block: 60px;
    margin-bottom: 10px;
    /* Add 10 pixels of space below the element when hovering */
    display: inline-block; // centered
  }
  
  .btn-validate:hover {
    background-color: rgb(82, 186, 27);
    /* Chalk-like color on hover */
    color: #fff;
  }
  
  
  .btn-validate-form {
    /* Add flexbox to center its children horizontally */
    padding-top: 20px;
    bottom: 0px;
    display: flex;
    justify-content: center;
  }
  
  .btn {
    flex-direction: center;
  }
  
  
  
  .title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
  }
  
  .svg-icon {
    width: 24px; /* Adjust the width to your desired size */
    height: 24px; /* Adjust the height to your desired size */
  }

  .label-container{
    margin: 10px;
  }

  .form-container{
    margin: 10px;
  }