<div class="page-container">

<div class="calendar-container">
<div class="calendar" id="calendar"></div>

  
<!-- Add buttons to switch between month and week views -->
<button id="week-view-button">Semaine</button>
<button id="month-view-button">Mois</button>

</div>
</div>