/* calendar.component.css */

.page-container{
    margin-top: 200px;
}

.calendar-container {
    padding: 50px;
}

.calendar {
    /* Add your custom styles here */
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    padding: 50px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Style the calendar's header (e.g., month and year) */
  .calendar .fc-header-toolbar {
    background-color: #ff0019;
    color: #fff;
  }
  
  /* Style the calendar's events */
  .calendar .fc-event {
    background-color: #4caf50;
    color: #fff;
    border: none;
    margin: 2px;
    padding: 5px 10px;
    border-radius: 3px;
  }
  
  /* Style the calendar's time slot cells */
  .calendar .fc-time-grid-event {
    background-color: #f3217c;
    color: #fff;
    border: none;
  }
  
  /* Style the calendar's button controls (e.g., next, prev, today) */
  .calendar .fc-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 3px;
  }
  
  /* Style the selected date in the calendar */
  .calendar .fc-day.selected {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Style the event title in the calendar */
  .calendar .fc-event-title {
    font-weight: bold;
  }
  

  /* Set a fixed height for the calendar container */
.calendar {
    height: 1000px; /* Adjust the height as needed */
    overflow: hidden; /* Hide overflow to remove extra spacing */
  }
  
  /* Adjust the height of the calendar's content area */
  .calendar .fc-view {
    height: calc(100% - 100px); /* Adjust the value to remove extra spacing */
  }
  
  /* Optionally, adjust the height of the calendar header (e.g., day and time labels) */
  .calendar .fc-toolbar {
    height: 1.5*2*12 rem; /* Adjust the height as needed */
  }


 /* Style the calendar container */
.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    padding: 20px;
  }
  
  /* Style the calendar itself */
  .calendar {
    /* Define styles for the calendar container here */
    width: 100%; /* Adjust the width as needed */
    /* Add any other calendar-specific styles */
  }
  
  /* Style the view switching buttons */
  button {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    padding: 10px 20px; /* Add padding to buttons */
    margin: 5px; /* Add margin between buttons */
    cursor: pointer; /* Show pointer cursor on hover */
  }
  
  /* Style the "Année" button differently */
  .year-view {
    background-color: #ffcc00; /* Button background color for year view */
    /* Add any other styles specific to the year view button */
  }
  
  /* Apply a hover effect to buttons */
  button:hover {
    background-color: #0056b3; /* Hover background color */
  }
  

  /* Styles for the year view container */
.year-view-container {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  /* Styles for the year header */
  .year-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Styles for each month container */
  .month-container {
    display: inline-block;
    width: 100px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  /* Styles for the month title */
  .month-title {
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Styles for the day grid */
  .day-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  /* Styles for each day cell */
  .day-cell {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 30px;
    margin: 2px;
    background-color: #fff;
    cursor: pointer;
  }
  
  /* Highlight today's date */
  .today {
    background-color: #ffcc00;
    color: #fff;
    font-weight: bold;
  }
  

  .page-container{
    margin-top: 200px;
}