<div class="page-container">

    <div class="min-h-screen">


          

          

            <div class="image-container">
                <img src="assets/notes.png" alt="notes">
              </div>

        <div class="title">
            Espace de gestion des élèves
        </div>
        <div class="descriptif">
            <div class="item">
                <strong>Onglet Liste</strong><br>
                Liste des élèves, possibilité d'ajouter, modifier, supprimer
            </div>

            <div class="item">
                <strong>Onglet Calendrier</strong><br>
                Visualisation du calendrier à l'échelle de la semaine, du mois et de l'année
            </div>

            <div class="item">
                <strong>Onglet Validation</strong><br>
                Validation des cours donnés et payés
            </div>

            <div class="item">
                <strong>Onglet Compta</strong><br>
                <ul>
                    <li>
                        Tableau Récapitulatif de tous les cours donnés et payés
                    </li>
                    <li>
                        possibilité de générer un PDF
                    </li>
                </ul>

            </div>

            <div class="item">
                <strong>Onglet Statistiques</strong><br>
                ??? Visualisation du nombre de cours au cours du temps
            </div>

            <div class="item">
                <strong>Onglet Répertoires</strong><br>
                Répertoires de chaque élève
            </div>
        </div>

        <!-- <svg width="400" height="200">
            <path id="textPath" d="M10 80 Q 95 10, 180 80" fill="transparent" />
            <text>
              <textPath xlink:href="#textPath">
                Text Along a Curve
              </textPath>
            </text>
          </svg> -->
    </div>
</div>