.page-container{
    margin-top: 200px;
}

.title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
  }

.descriptif{
    text-align: justify;
    margin: 100px;
    font-size: 15px;
}

.item{
    margin-bottom: 50px;
}



.image-container{
    position: absolute;
    top: 80%;
    right: 15%;
    width: 30%;
}

.text-container {
    width: 200px;
    height: 200px;
    shape-outside: url(#circlePath); /* Reference the SVG element */
    float: left;
    margin-right: 20px; /* Adjust as needed */
  }
  
  /* Define the circular shape using SVG */
  svg {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }
  